{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -Eeuo pipefail


{{ template "validate-deps.tmpl" (list "brew") }}

{{ template "version-check.tmpl" (merge . (dict "type" "darwin")) }}

{{- range $tap := .packages.darwin.brew.taps }}
brew tap {{ $tap }} || echo "[ERROR] unable to brew tap {{ $tap }}"
{{- end }}

{{- range $formula := .packages.darwin.brew.formulae }}
brew list {{ $formula }} &> /dev/null || brew install {{ $formula }} \
    || echo "[ERROR] unable to brew install {{ $formula }}"
{{- end }}

{{- range $cask := .packages.darwin.brew.casks }}
brew list {{ $cask }} &> /dev/null || brew install {{ $cask }} --cask \
    || echo "[ERROR] unable to brew install {{ $cask }} --cask"
{{- end }}

{{- range $cask := .packages.darwin.brew.no_quarantine }}
brew list {{ $cask }} &> /dev/null || brew install {{ $cask }} --cask --no-quarantine \
    || echo "[ERROR] unable to brew install {{ $cask }} --cask --no-quarantine"
{{- end }}

{{- end }}
