# TODO: impl import resolution in tools:utils/data/tq
import = [
    "{{ env "XDG_CONFIG_HOME" }}/ulogger/external.toml",
    "{{ env "XDG_CONFIG_HOME" }}/ulogger/actions.toml"
]

root = "{{ env "HOME" }}/.local/state/logs"
type = "default"

[level]
current = "WARN"
default = "WARN"

[snapshot]
directory = "snapshot"

[chezmoi]
level = "INFO"
directory = "chezmoi"

[install]
level = "INFO"
