root = "{{ env "HOME" }}/.local/state/logs"
type = "default"

[pager]
list = "lsd -1"
tree = "lsd --tree"

[level]
current = "WARN"
default = "WARN"

# NOTE: the types section is informational, not functional
[types]
chezmoi = "actions taken w/ chezmoi"
cron = "runnables called by cron"
deploy = "tools deployment (via deploy)"
git = "git scripts/tools"
install = "installation scripts"
pkg = "installation of packages (via pkgmgr)"
shell = "shell ops (i.e.: rc/profile sourcing) and shell related scripts"
single = "single-use scripts"
status = "scripts that report on system status"
tmux = "tmux scripts"

[chezmoi]
level = "INFO"
directory = "chezmoi"

[install]
level = "INFO"

[snapshot]
directory = "snapshot"

[tmux]
level = "ERROR"

[alias.command]
log = "write"
view = "edit"

c = "config"
e = "edit"
l = "list"
t = "tree"
v = "edit"
x = "explore"

[alias.level]
trc = "trace"
dbg = "debug"
err = "error"

[alias.env]
pfx = "prefix"
dis = "disabled"
stgy = "strategy"
vol = "level_xfm"

[alias.type]
cm = "chezmoi"
cr = "cron"
dp = "deploy"
g = "git"
i = "install"
p = "pkg"
sh = "shell"
sg = "single"
st = "status"
tx = "tmux"
