[external.nvim]
Root = "{{ env "HOME" }}/.local/state/nvim"

[external.nvim.path.file]
lsp = "lsp"
luasnip = "luasnip"
mason = "mason"
neotest = "neotest"
noice = "noice"
nvim = "nvim"

[external.hammerspoon]
root = "{{ env "HOME" }}/.local/state/hammerspoon"

[external.nvim.path]
default = "hammerspoon"
