[submodule "chezmoi/dot_config/external_hammerspoon"]
	path = chezmoi/dot_config/external_hammerspoon
	url = https://github.com/austinsherron/hammerspoon.git
[submodule "chezmoi/dot_config/external_nvim"]
	path = chezmoi/dot_config/external_nvim
	url = https://github.com/austinsherron/nvim.git
