https://austin.sherron:{{ (onepasswordDetailsFields "dkrn7o7kv7eoi3ddclsabely4m").credential.value }}@gitlab.com
https://austinsherron:{{ (onepasswordDetailsFields "iezl7xac5xx5fj6nw2dhh2yh24").credential.value }}@github.com
