#!/usr/bin/env bash


## constants ###################################################################

## identifiers

export MACHINE="MacBook"
export MACHINE_NICKNAME="🍎📖"

## work ########################################################################

source "${HOST_ROOT}/workrc"

