#!/usr/bin/env bash


## constants ###################################################################

## important paths #############################################################

export WORK_ROOT="${CODE_ROOT}/basis"

## aliases #####################################################################

### rename

alias hf="helmfile"
alias kc="kubectl"
alias kctx="kubectx"
alias tf="terraform"
alias tg="terragrunt"

## functions ###################################################################

### TODO: linear

## tools #######################################################################

## environment #################################################################

