source-path={{ env "HOME" }}
source-path={{ env "XDG_CONFIG_HOME" }}
source-path={{ env "XDG_DATA_HOME" }}
source-path={{ env "CODE_ROOT" }}
source-path={{ env "EXTERNAL_PACKAGES" }}

external-sources=true
