#!/usr/bin/env bash


## init logging ################################################################

export CURRENT_LOG_LEVEL="WARN"
export DEFAULT_LOG_LEVEL="WARN"
export DEFAULT_LOG_TYPE="default"

## source primary config #######################################################

source "${HOME}/.bashrc"

{{- if eq .chezmoi.hostname "Austins-MBP" }}

## NOTE: if I add any more customizations to this file, I should introduce a more generic
## mechanism for their injection; see inject-os.sh/inject-host.sh in chezmoi/dot_bashrc

## work ########################################################################

## gvm (NOTE: must be called before super setup below)

[[ -s "${HOME}/.gvm/scripts/gvm" ]] && source "${HOME}"/.gvm/scripts/gvm

{{- end }}
