https://austinsherron:{{ (onepasswordDetailsFields "iezl7xac5xx5fj6nw2dhh2yh24" "" "my").credential.value }}@github.com
https://austin.sherron:{{ (onepasswordDetailsFields "dkrn7o7kv7eoi3ddclsabely4m" "" "my").credential.value }}@gitlab.com
