{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash


## custom ######################################################################

if [[ -z "${COMPLETION_DIR+x}" ]]; then
    ulogger error "completion dir env var is unset"
    return 1
fi

if [[ ! -d "${COMPLETION_DIR}" ]]; then
    ulogger info "creating completion dir='${COMPLETION_DIR}'"
    mkdir "${COMPLETION_DIR}"
fi

ulogger info "loading contents of completion dir='${COMPLETION_DIR}'"

for FILE in "${COMPLETION_DIR}"/*; do
    source "${FILE}"
done

## homebrew ####################################################################

if ! which brew > /dev/null; then
    ulogger error "brew is not installed"
    retrun 1
fi

if [[ -z "${SYS_CONFIG+x}" ]]; then
    ulogger error "SYS_CONFIG dir is not set"
    return 1
fi

if [[ ! -d "${SYS_CONFIG}" ]]; then
    ulogger error "SYS_CONFIG dir does not exist"
    return 1
fi

BREW_COMPLETION_ROOT="${SYS_CONFIG}/profile.d"
BREW_COMPLETION_SCRIPT="${BREW_COMPLETION_ROOT}/bash_completion.sh"
BREW_COMPLETION_DIR="${BREW_COMPLETION_ROOT}/bash_completion.d"

if [[ ! -f "${BREW_COMPLETION_SCRIPT}" ]] && [[ ! -d "${BREW_COMPLETION_DIR}/" ]]; then
    ulogger warn "homebrew completion script='${BREW_COMPLETION_SCRIPT}' does not exist"
    ulogger warn "homebrew completion dir=${BREW_COMPLETION_DIR} does not exist"
    return 0
fi

if [[ -f "${BREW_COMPLETION_SCRIPT}" ]]; then
    ulogger info "loading homebrew completion script='${BREW_COMPLETION_SCRIPT}'"
    source "${BREW_COMPLETION_SCRIPT}"
fi

if [[ ! -d "${BREW_COMPLETION_DIR}/" ]]; then
    return 0
fi

ulogger info "loading contents of homebrew completion dir='${BREW_COMPLETION_DIR}'"

for FILE in "${BREW_COMPLETION_DIR}/"*; do
  source "${FILE}"
done
{{ end }}
