mkdir -p "{{ .dir }}"
cd "{{ .dir }}" &> /dev/null

{{- range (index .git.common .type) }}
{{ template "git-clone.tmpl" (dict "repo" . "dir" $.dir) }}
{{- end }}

{{- range (dig .chezmoi.os .type .git) }}
{{ template "git-clone.tmpl" (dict "repo" . "dir" $.dir) }}
{{- end }}

cd - &> /dev/null
