ulogger info "installing {{ .mgr }} {{ (dig "type" "packages" .) }}"

{{- $args := dig "args" "" . }}
{{- $mgr := .mgr }}

{{- range $pkg := .pkgs }}
pkgmgr install -p {{ $pkg }} {{ $args }} -m {{ $mgr }}
{{- end }}
