{{- $path := dig "path" "" . }}
{{- $type := dig "type" "" . }}
{{- $script := dig "script" "" . }}

{{- $path := default (print .chezmoi.sourceDir "/.chezmoidata/" $type ".yaml") $path }}
{{- $script_path := (print .chezmoi.sourceDir "/.chezmoiscripts/run_after_" $script ".sh.tmpl"  ) }}

{{- $type := default (base (trimSuffix (ext $path) $path)) $type }}
{{- $base := base $path -}}

MANIFEST_SHA="{{ include $path | sha256sum }}"
LAST_MANIFEST_SHA="{{ dig "versions" $type "" . }}"

HOOK_SHA="{{ include $script_path | sha256sum }}"
LAST_HOOK_SHA="{{ dig "versions" $script "" . }}"

if [[ "${MANIFEST_SHA}" != "${LAST_MANIFEST_SHA}" ]]; then
    ulogger info "change to {{ $base }} detected; installing {{ $base }}"
elif [[ "${HOOK_SHA}" != "${LAST_HOOK_SHA}" ]]; then
    ulogger info "change to {{ $script }} script detected; installing {{ $base }}"
else
    ulogger info "no changes to {{ $type }} manifest/hook detected; skipping"
    exit 0
fi

