#!/usr/bin/env bash


# NOTE: contains paths shared by the admin user (aka: me, Austin) and the root user

## administrator ###############################################################

## workspace

export ADMIN_HOME="{{ .chezmoi.homeDir }}"
export WORKSPACE="${ADMIN_HOME}/Workspace"
export CODE_ROOT="${WORKSPACE}/workspace"

## config (pre-deploy)

export DOTFILES="${WORKSPACE}/dotfiles"
export DEV_CONFIG="${DOTFILES}/dot_config"

## config (deployed)

export CONFIG_ROOT_PUB="${HOME}/.config"

## packages

export EXTERNAL_PKGS="${WORKSPACE}/external"    # external
export TOOLS_ROOT="${CODE_ROOT}/tools"          # internal

## scripts

export SCRIPTS_ROOT="${CODE_ROOT}/scripts"

## executables (system-wide)
{{ if eq .chezmoi.os "linux" }}
export SYS_ROOT="/usr/local"
export SYS_BIN="${SYS_ROOT}/bin"
export LOCAL_BIN="${SYS_BIN}"
{{- else if eq .chezmoi.os "darwin" }}
export SYS_ROOT="/opt/hombebrew"
export SYS_BIN="${SYS_BIN}/bin"
export LOCAL_BIN="/usr/local/bin"
{{- end }}

## config (system-wide)

export SYS_CONFIG="${SYS_ROOT}/etc"

## package specific

export GO_ROOT="${SYS_ROOT}/go"

