import = [
    "{{ env "XDG_CONFIG_HOME" }}/alacritty/appearance.toml",
    "{{ env "XDG_CONFIG_HOME" }}/alacritty/keymap/{{ .chezmoi.os }}.toml"
]

[shell]
program = "{{ eq .chezmoi.os "linux" | ternary "/bin/bash" "/opt/homebrew/bin/bash" }}"
args = ["-c", '"tmux attach || tmux"']

[window]
startup_mode = "{{ eq .chezmoi.os "linux" | ternary "Fullscreen" "Maximized" }}"
decorations = "{{ eq .chezmoi.os "linux" | ternary "None" "Buttonless" }}"
{{- if eq .chezmoi.os "darwin" }}
option_as_alt = "Both"
{{- end }}

[font]
normal = { family = "JetBrainsMono Nerd Font Mono", style = "SemiBold" }
size = {{ eq .chezmoi.os "linux" | ternary 9 12 }}

[cursor.style]
shape = "Block"
blinking = "Off"

[cursor.vi_mode_style]
shape = "Underline"
blinking = "On"
