#!/usr/bin/env bash

source "${BASH_LIB}/api/git.sh"
source "${BASH_LIB}/core/str.sh"
source "${BASH_LIB}/utils/file.sh"
source "${BASH_LIB}/utils/input.sh"


## args ########################################################################

STAGE="${1-:}"

## constants ###################################################################

export IS_WORK="true"

export WORK_ROOT="${WORKSPACE}/maybern"
export MAYBERN_REPO="${WORK_ROOT}/maybern"
export MAYBERN_BACKEND="${MAYBERN_REPO}/backend"
export MAYBERN_FRONTEND="${MAYBERN_REPO}/frontend"

export AWS_PROFILE="corp-admin"
export NODE_EXTRA_CA_CERTS="${ADMIN_HOME}/.certs/rootCA.crt"

## path updates ################################################################

export PATH="/opt/homebrew/opt/postgresql@17/bin:$PATH"
export PATH="/opt/homebrew/opt/libpq/bin:$PATH"

## aliases #####################################################################

### rename

alias hf="helmfile"
alias kc="kubectl"
alias kctx="kubectx"
alias n="neonctl"
alias tf="terraform"
alias tg="terragrunt"

## functions ###################################################################

# gh

function pr() {
    local cmd="${1}"

    case $cmd in
        c|cr|create) gh pr create -a @me ${@:2} ;;
        m|mr|merge) gh pr merge ${@:2} ;;
        cl|close) gh pr close "$(g branch --show-current) ${@:2}" ;;
        l|ls|list) gh pr ls --author @me ;;
        n|num) gh pr view --json number | jq -r .number ;;
        v|view) gh pr view -w ${@:2} ;;
        *) ulogger error "Unknown command: $cmd" ; return 1 ;;
    esac
}

# git

function fcheckout_tree() {
    local worktree

    worktree="$(git ls-worktree | fzf --height=8 +i +m -e)"
    cd "${WORK_ROOT}/${worktree}" || return
}

alias fct="fcheckout_tree"

# just

function j() {
    if [[ ${#?} -gt 1 ]]; then
        just ${@}
        return $?
    fi

    local cmd="${1}"

    case $cmd in
         ca) just codegen all ;;
         cc) just codegen client ;;
         cs) just codegen schema ;;
         dc) just delete-customers ;;
         gf) just generate-fixtures ;;
         rs) just run-server ;;
         rc) just run-celery ;;
          t) just pytest "${2:-}" ;;
          *) just ${@} ;;
    esac
}

# linear

function lin::get_issue_id() {
    linear issue list | tail -n +2 | fzf --ansi | awk '{print $2}'
}

function lin::start_issue() {
    local issue_id

    if [[ $? -gt 0 ]]; then
        issue_id="${1}"
    else
        issue_id="$(str::lower "$(lin::get_issue_id)")"
    fi

    [[ $? -eq 130 ]] || [[ -z "$issue_id" ]] && return 0

    local branch_sfx
    branch_sfx="$(input::text "Branch suffix: ")"

    git new-branch "${issue_id}" "${branch_sfx}"
    [[ $? -gt 1 ]] && return 1

    linear issue update "${issue_id}" -s "started"
}

function lin() {
    local cmd="${1:-ls}"

    case $cmd in
        l|ls) linear issue list -s "unstarted" -s "backlog" -s "started" ;;
        s) lin::start_issue ${@} ;;
        *) linear ${@} ;;
    esac
}

# misc

function get_prod_version() {
    curl -s "https://app.maybern.com/api/version/" | jq -r ".release_version"
}

function get_staging_version() {
    curl -s "https://app.maybern.staging/api/version/" | jq -r ".release_version"
}

function checkout_prod_version() {
    git pull
    git checkout "$(get_prod_version)"
}

function checkout_staging_version() {
    git pull
    git checkout "$(get_staging_version)"
}

alias pv="get_prod_version"
alias cpv="checkout_prod_version"
alias sv="get_staging_version"
alias csv="checkout_staging_version"

function _find_test() {
    local maybern_backend
    local rel_path

    maybern_backend="$(git::worktree)/backend"
    rel_path="$(find "${maybern_backend}" -iname 'test_*.py' | sed "s/^$(path::escape "${maybern_backend}/")//" | fzf)"

    [[ -z "${rel_path}" ]] && return 1

    echo "${maybern_backend}/${rel_path}"
}

function _get_test_to_run() {
    if [[ -n "${RUN_TEST_LAST_TEST+x}" ]]; then
        echo "${RUN_TEST_LAST_TEST}"
        return 0
    fi

    test_path="$(_find_test)" || return 1
    test="${1:+::$1}"

    echo "${test_path}${test}"
}

function run_test() {
    if [[ $# -gt 0 ]] && [[ "$1" =~ c|clear ]]; then
        unset RUN_TEST_LAST_TEST
        return 0
    fi

    local to_run

    if ! to_run="$(_get_test_to_run "${1}")"; then
        return 0
    fi

    export RUN_TEST_LAST_TEST="${to_run}"
    just pytest "${to_run}"
}

alias rt="run_test"

# slack

function add-slack-mentions() {
    local message="$1"
    local conf_file="$XDG_CONFIG_HOME/slack/users.conf"

    # build sed expression from slack.conf
    local sed_expr
    sed_expr=$(awk -F= '
        /^[^#[:space:]]+=U/ {
            printf "s/@%s/\\<@%s\\>/g;", $1, $2
        }
    ' "$conf_file")

    # apply the expression using sed
    echo "$message" | sed "$sed_expr"
}

function get-slack-channel-id() {
    local channel="${1#[@#]}"   # strip leading @ or # if present
    local id=""

    # look in channels.conf first (public/private channels)
    if [[ -f "$XDG_CONFIG_HOME/slack/channels.conf" ]]; then
        id=$(grep -s "^${channel}=" "$XDG_CONFIG_HOME/slack/channels.conf" | awk -F= '{print $2}')
    fi

    # if not found, look in users.conf (DMs -> user id)
    if [[ -z "$id" && -f "$XDG_CONFIG_HOME/slack/users.conf" ]]; then
        id=$(grep -s "^${channel}=" "$XDG_CONFIG_HOME/slack/users.conf" | awk -F= '{print $2}')
    fi

    echo "$id"
}

function send-slack-message() {
    local channel="${1}"
    local message="${2}"
    local res

    [[ "$channel" != \#* ]] && channel="$(get-slack-channel-id "$channel")"
    message="$(add-slack-mentions "$message")"

    res=$(curl -s -X POST https://slack.com/api/chat.postMessage \
    -H "Authorization: Bearer $SLACK_USER_BOT_TOKEN" \
    -H 'Content-type: application/json' \
    --data "{
        \"channel\":\"${channel}\",
        \"text\":\"${message}\"
    }")

    echo "$res" | jq -r '.ok'
}

## tools #######################################################################

if [[ "${STAGE}" = "POST" ]] && path::is_child "$(pwd)" "${WORK_ROOT}"; then
    source "${MAYBERN_BACKEND}/.venv/bin/activate"
    nvm use "$(cat "${MAYBERN_FRONTEND}/.nvmrc")"
fi

