
## init 
source-file -q  "{{ print (env "TMUX_ROOT_PUB") "/conf.d/init.conf" }}"

## settings 
source-file -q  "{{ print (env "TMUX_ROOT_PUB") "/conf.d/settings.conf" }}"

## vim mode
source-file -q  "{{ print (env "TMUX_ROOT_PUB") "/conf.d/vim.conf" }}"

## keymap
source-file -q  "{{ print (env "TMUX_ROOT_PUB") "/conf.d/keymap.conf" }}"

## appearance
source-file -q  "{{ print (env "TMUX_ROOT_PUB") "/conf.d/appearance.conf" }}"

## hooks
source-file -q  "{{ print (env "TMUX_ROOT_PUB") "/conf.d/hooks.conf" }}"

## plugins
source-file -q  "{{ print (env "TMUX_ROOT_PUB") "/conf.d/plugins.conf" }}"

## status segments 
source-file -q  "{{ print (env "TMUX_ROOT_PUB") "/conf.d/status-segments.conf" }}"

## work
source-file -q  "{{ print (env "TMUX_ROOT_PUB") "/conf.d/work.conf" }}"
