#!/usr/bin/env bash


# NOTE: contains paths shared by the admin user (aka: me, Austin) and the root user

## administrator ###############################################################

## "standard" paths, based on xdg spec

export XDG_CACHE_HOME=~/.cache
export XDG_CONFIG_HOME=~/.config
export XDG_DATA_HOME=~/.local/share
export XDG_STATE_HOME=~/.local/state

## workspace

export ADMIN_HOME="{{ .chezmoi.homeDir }}"
export WORKSPACE="${ADMIN_HOME}/Workspace"
export CODE_ROOT="${WORKSPACE}/workspace"
export BASH_TOOLS="${CODE_ROOT}/bash-tools"

## remote

{{- if eq .chezmoi.os "linux" }}
export VOLUMES="/media"
{{- else if eq .chezmoi.os "darwin" }}
export VOLUMES="/Volumes"
{{- end }}

## logs

export LOG_ROOT="${ADMIN_HOME}/.local/state/logs"

## config (pre-deploy)

export DOTFILES="${WORKSPACE}/dotfiles"
export CONFIG_SRC="${DOTFILES}/chezmoi/dot_config"

## config (deployed)

export CONFIG_ROOT_PUB="${HOME}/.config"

## packages

export EXTERNAL_PKGS="${WORKSPACE}/external"    # external
export TOOLS_ROOT="${BASH_TOOLS}/tools"         # internal

## scripts

export SCRIPTS_ROOT="${BASH_TOOLS}/scripts"

## executables (system-wide)
{{ if eq .chezmoi.os "linux" }}
export SYS_ROOT="/usr/local"
export SYS_BIN="${SYS_ROOT}/bin"
export LOCAL_BIN="${SYS_BIN}"
{{- else if eq .chezmoi.os "darwin" }}
export SYS_ROOT="/opt/homebrew"
export SYS_BIN="${SYS_ROOT}/bin"
export LOCAL_BIN="/usr/local/bin"
{{- end }}

## libraries (system-wide)

export LOCAL_LIB="/usr/local/lib"
export BASH_LIB="/usr/local/lib/bash"

## config (system-wide)

export SYS_CONFIG="${SYS_ROOT}/etc"
export USR_CONFIG="/usr/local/etc"

## package specific

export GO_ROOT="${SYS_ROOT}/go"

