#!/usr/bin/env bash
# shellcheck disable=SC1091


## delta #######################################################################

export DELTA_FEATURES="+side-by-side +decorations"

## gcalcli #####################################################################

# TODO: add setup/config

## neovim ######################################################################

export NVIM_LOG_LEVEL="DEBUG"
export NVIM_NOTIFY_LEVEL="INFO"
export NVIM_AUTO_INSTALL_PACKAGES=true

## nix #########################################################################

[[ -e /home/austin/.nix-profile/etc/profile.d/nix.sh ]] && . /home/austin/.nix-profile/etc/profile.d/nix.sh

## nvm ########################################################################

export NVM_DIR="${HOME}/.nvm"

if [[ ! -d "${NVM_DIR}" ]]; then
  ulogger info "creating nvm dir=${NVM_DIR}"
  mkdir "${NVM_DIR}"
fi

# load nvm
if [[ -s "${NVM_DIR}/nvm.sh" ]]; then
    ulogger info "loading nvm"
    . "${NVM_DIR}/nvm.sh"
else
    ulogger warn "can't load nvm: ${NVM_DIR}/nvm.sh not found"
fi

## porkbun #####################################################################

if [[ -z "${PORKBUN_API_KEY+x}" ]]; then
    export PORKBUN_API_KEY="{{ (onepasswordDetailsFields "t7hxmp2zqxhzkidpn3njcma66q" "" "my").rkhh5bzl476o5n4lbeoopk5rzu.value }}"
fi

if [[ -z "${PORKBUN_API_SECRET+x}" ]]; then
    export PORKBUN_API_SECRET="{{ (onepasswordDetailsFields "t7hxmp2zqxhzkidpn3njcma66q" "" "my").ml2rk5evxpkz7xcbojqqph7fey.value }}"
fi

## pyenv #######################################################################

# TODO

export PATH="$HOME/.pyenv/bin:$PATH"
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"

# eval "$(pyenv init --path)"
# eval "$(pyenv init -)"
# eval "$(pyenv virtualenv-init -)"

## zoxide ######################################################################

if which zoxide > /dev/null 2>&1; then
    eval "$(zoxide init bash)"
fi

