#!/usr/bin/env bash
# shellcheck disable=SC1091


## delta #######################################################################

export DELTA_FEATURES="+side-by-side +decorations"

## gcalcli #####################################################################

# TODO: add setup/config

## neovim ######################################################################

export NVIM_LOG_LEVEL="DEBUG"
export NVIM_NOTIFY_LEVEL="INFO"
export NVIM_AUTO_INSTALL_PACKAGES=true

## nix #########################################################################

[[ -e /home/austin/.nix-profile/etc/profile.d/nix.sh ]] && . /home/austin/.nix-profile/etc/profile.d/nix.sh

## nvm ########################################################################

export NVM_DIR="${LEGACY_CONFIG_ROOT_PUB}/.nvm"

[[ -s "${NVM_DIR}/nvm.sh" ]] && \. "${NVM_DIR}/nvm.sh"                    # load nvm
[[ -s "${NVM_DIR}/bash_completion" ]] && \. "${NVM_DIR}/bash_completion"  # load completions

## porkbun #####################################################################

if [[ -z "${PORKBUN_API_KEY+x}" ]]; then
    export PORKBUN_API_KEY="{{ (onepasswordDetailsFields "t7hxmp2zqxhzkidpn3njcma66q" "" "my").rkhh5bzl476o5n4lbeoopk5rzu.value }}"
fi

if [[ -z "${PORKBUN_API_SECRET+x}" ]]; then
    export PORKBUN_API_SECRET="{{ (onepasswordDetailsFields "t7hxmp2zqxhzkidpn3njcma66q" "" "my").ml2rk5evxpkz7xcbojqqph7fey.value }}"
fi

## pyenv #######################################################################

export PATH="$HOME/.pyenv/bin:$PATH"

eval "$(pyenv init --path)"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

## zoxide ######################################################################

if which zoxide > /dev/null 2>&1; then
    eval "$(zoxide init bash)"
fi

