#!/usr/bin/env bash

set -Eeuo pipefail


{{ template "version-check.tmpl" (merge . (dict "type" "filesystem" "script" "B_make_filesystem")) }}

function __do_filesystem_update() {
    local path="${1}"
    local src="${2:-}"
    local dst="${3:-}"

    if [[ -d "${FS_PATH}" ]]; then
        ulogger info "dir=${FS_PATH} already exists"
        return 0
    fi

    echo "[INFO] creating dir=${FS_PATH}"
    mkdir -p "${FS_PATH}"

    [[ ! -d "${SRC}" ]] && ulogger error "dir=${SRC} doesn't exist"
    [[ ! -d "${DST}" ]] && ulogger error "dir=${DST} doesn't exist"

    ulogger info "moving ${SRC} to ${DST}"
    mv "${SRC}" "${DST}"
}

{{- range (index .fs .chezmoi.os) }}
FS_PATH="${HOME}/{{ .path }}"
SRC="{{ (dig "src" "" .) }}"
DST="{{ (dig "dst" "" .) }}"

[[ -n "${SRC}" ]] && SRC="${HOME}/${SRC}"
[[ -n "${DST}" ]] && DST="${HOME}/${DST}"

__do_filesystem_update "${FS_PATH}" "${SRC}" "${DST}"
{{- end }}

