{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
tap "ankitpokhrel/jira-cli"
tap "mk-5/mk-5"
tap "nikitabobko/tap"

# Formulae
brew "atuin"
brew "blahtexml"
brew "bash"
brew "bash-completion"
brew "bat"
brew "chezmoi"
brew "cmake"
brew "colordiff"
brew "duf"
brew "fzf"
brew "fjira"
brew "gawk"
brew "gh"
brew "git"
brew "git-delta"
brew "gpg"
brew "grep"
brew "gsed"
brew "htop"
brew "jira-cli"
brew "jq"
brew "lazygit"
brew "lsd"
brew "lua"
brew "luarocks"
brew "neovim"
brew "k9s"
brew "npm"
brew "nvr"
brew "openssl"
brew "pkg-config"
brew "pinentry"
brew "pyenv-virtualenvwrapper"
brew "rust"
brew "qt5"
brew "s-search"
brew "shellharden"
brew "spotify_player"
brew "spotifyd"
brew "starship"
brew "stow"
brew "task"
brew "taskwarrior-tui"
brew "tldr"
brew "trash-cli"
brew "tree"
brew "tmux"
brew "xclip"
brew "xdotool"
brew "xinit"
brew "xorg-server"
brew "xplr"
brew "xsel"
brew "wget"
brew "wtfutil"
brew "ykman"
brew "yq"
brew "zoxide"
brew "alembic"
brew "awscli"
brew "coreutils"
brew "dive"
brew "docker"
brew "eksctl"
brew "glab"
brew "golang"
brew "helm"
brew "helmfile"
brew "kubectl"
brew "poetry"
brew "rpm"
brew "ruby"
brew "schpet/tap/linear"
brew "terraform"
brew "xorgproto"
brew "yarn"

# Casks
cask "1password"
cask "1password-cli"
cask "bazecor"
cask "brave-browser"
cask "font-jetbrains-mono-nerd-font"
cask "hammerspoon"
cask "gcloud-cli"
cask "google-chrome"
cask "iterm2"
cask "maccy"
cask "nikitabobko/tap/aerospace"
cask "notesnook"
cask "rar", args: {"no-quarantine": true}
cask "rq", args: {"no-quarantine": true}
cask "signal"
cask "tailscale-app"
cask "telegram"
cask "tor-browser"
cask "vlc"
cask "whatsapp"
cask "yubico-authenticator"
EOF
{{ end -}}