{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
# Taps
tap "mk-5/mk-5"
tap "nikitabobko/tap"

# Formulae
brew "atuin"
brew "blahtexml"
brew "bash"
brew "bash-completion"
brew "bat"
brew "chezmoi"
brew "cmake"
brew "colordiff"
brew "direnv"
brew "duf"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "git-delta"
brew "golang"
brew "gpg"
brew "grep"
brew "gsed"
brew "htop"
brew "jira-cli"
brew "jq"
brew "just"
brew "lazygit"
brew "lsd"
brew "lua"
brew "luarocks"
brew "neovim"
brew "k9s"
brew "npm"
brew "nvm"
brew "nvr"
brew "openssl"
brew "pkg-config"
brew "pinentry"
brew "pyenv-virtualenvwrapper"
brew "ripgrep"
brew "ruby"
brew "rust"
brew "qt5"
brew "s-search"
brew "shellharden"
brew "spotify_player"
brew "spotifyd"
brew "starship"
brew "stow"
brew "task"
brew "taskwarrior-tui"
brew "terraform"
brew "tldr"
brew "trash-cli"
brew "tree"
brew "tree-sitter"
brew "tree-sitter-cli"
brew "tmux"
brew "xclip"
brew "xdotool"
brew "xinit"
brew "xorg-server"
brew "xplr"
brew "xsel"
brew "wget"
brew "wtfutil"
brew "ykman"
brew "yq"
brew "zoxide"

# Casks
cask "1password"
cask "1password-cli"
cask "bazecor"
cask "brave-browser"
cask "claude-code"
cask "font-jetbrains-mono-nerd-font"
cask "hammerspoon"
cask "google-chrome"
cask "iterm2"
cask "maccy"
cask "nikitabobko/tap/aerospace"
cask "notesnook"
cask "rar"
cask "rq"
cask "signal"
cask "tailscale-app"
cask "telegram"
brew "terminal-notifier"
cask "tor-browser"
cask "vlc"
cask "whatsapp"
cask "yubico-authenticator"

# Work
brew "awscli"
brew "coreutils"
brew "dive"
brew "dnsmasq"
brew "docker"
brew "eksctl"
brew "glab"
brew "helm"
brew "helmfile"
brew "kubectl"
brew "mkcert"
brew "nss"
brew "rpm"
brew "schpet/tap/linear"
brew "uv"
brew "xorgproto"
brew "yarn"

cask "aws-vpn-client"
cask "gcloud-cli"
cask "tableplus"

EOF
{{ end -}}
