#!/usr/bin/env bash

set -Eeuo pipefail


{{- $target := "/etc/profile.d" }}
{{- $shared_paths := (print .chezmoi.homeDir "/.config/shell/bash/helpers/shared_paths.sh") }}

{{ template "version-check.tmpl" (merge . (dict "path" $shared_paths)) }}

if [[ ! -d "{{ $target }}" ]]; then
    sudo mkdir {{ $target }}
fi

sudo cp {{ $shared_paths }} {{ $target }}

