{{- if eq .chezmoi.os "linux" -}}

#!/usr/bin/env bash

set -Eeuo pipefail

source /etc/profile.d/shared_paths.sh


# validate external dependencies
{{ template "validate-deps.tmpl" (list "apt" "snap" "flatpak" "cargo" "luarocks" "pip3") }}

# validate internal dependencies
{{ template "validate-deps.tmpl" (list "pkgmgr" "check-pkg") }}

# check if the manifest has changed since the last run
{{ template "version-check.tmpl" (merge . (dict "type" "linux")) }}

{{ template "pkgmgr-install.tmpl" (dict "mgr" "apt" "pkgs" .packages.linux.apt) }}
{{ template "pkgmgr-install.tmpl" (dict "mgr" "flatpak" "pkgs" .packages.linux.flatpak) }}
{{ template "pkgmgr-install.tmpl" (dict "mgr" "snap" "pkgs" .packages.linux.snap) }}

{{ template "scripts-install.tmpl" .packages.linux.scripts }}
{{ template "pip3-install.tmpl" .packages.linux.pip3 }}
{{ template "luarocks-install.tmpl" .packages.linux.luarocks }}

{{- end }}
