#!/usr/bin/env bash

set -Eeuo pipefail


{{ template "version-check.tmpl" (merge . (dict "type" "settings")) }}

{{- if eq .chezmoi.os "darwin" }}
{{- range $_, $group := .settings.darwin }}

{{- range $group.values }}
ulogger info "writing \"{{ .key }}\"=\"{{ .value | join " " }}\" for domain=\"{{ $group.domain }}\""
defaults write {{ $group.domain }} "{{ .key }}" {{ .value | join " " }}
{{- end }}

{{- if hasKey $group "killall" }}
ulogger warn "killing {{ $group.killall }}"
killall -q {{ $group.killall }} || true
{{- end }}

{{- end }}
{{- end }}
