#!/usr/bin/env bash

set -Eeuo pipefail


{{ template "version-check.tmpl" (merge . (dict "type" "filesystem")) }}

function __do_filesystem_update() {
    local path="${1}"
    local src="${2:-}"
    local dst="${3:-}"

    if [[ -d "${PATH}" ]]; then
        echo "[INFO] dir=${PATH} already exists"
        return 0
    fi

    echo "[INFO] creating dir=${PATH}"
    echo "mkdir -p ${PATH}"

    [[ ! -d "${SRC}" ]] && echo "[ERROR] dir=${SRC} doesn't exist"
    [[ ! -d "${DST}" ]] && echo "[ERROR] dir=${DST} doesn't exist"

    echo "[INFO] moving ${SRC} to ${DST}"
    echo "mv ${SRC} ${DST}"
}

{{- range (index .fs .chezmoi.os) }}
PATH="${HOME}/{{ .path }}"
SRC="{{ (dig "src" "" .) }}"
DST="{{ (dig "dst" "" .) }}"

[[ -n "${SRC}" ]] && SRC="${HOME}/${SRC}"
[[ -n "${DST}" ]] && DST="${HOME}/${DST}"

__do_filesystem_update "${PATH}" "${SRC}" "${DST}"
{{- end }}

